body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7b870;

}

nav a:hover {
    color: #f7b870
       
}

nav ul {
    list-style: none;
    padding: 10;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

header {
    background-color: #000000;
    text-align: center;
    padding: 10px;
    background-image: url("IMAGEM EDIT.svg");
}

header img {

    max-width: 150px;
    margin-left: center;
    

}

header h1 {
    color: #ffffff;
}

main {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4e4c4c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.produto {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.produto img {
    max-width: 600px;
    max-height: 600px;
    animation: moveTennis 2s infinite alternate;
    
}

@keyframes moveTennis {
    from {
        transform: translateX(0);
        
    }

    to {
        transform: translateX(10px);
        
    }
}


footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

video {
    width: 100%;
    max-height: 400px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}