body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-image: url("Design sem nome.png");

}

header img {

    max-width: 150px;
    /* Ajuste o tamanho da imagem conforme necessário */
    margin-left: center;
    /* Adicione margem à direita para espaçamento */

}

nav ul {
    list-style: none;
    padding: 10;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

sobre {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

sobre h2 {
    color: #333;
}

sobre p {
    margin-top: 10px;
    line-height: 1.5;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

video {
    width: 100%;
    max-height: 400px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}